.viewInterviewWait {
    z-index: 900;
    top: 55px;
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 35px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

