http-pages/.history/
*.project
*.classpath
backend/interview_portal/.settings/
backend/interview_portal/target/
*.iml
backend/interview_portal/.idea/
frontend/.history/src/app/app.component_20180214143225.html
frontend/.history/
*.log
*/logs/*
