<form [formGroup]="candidateForm">
  <table class="table table-bordered" formArrayName="educationCandidateList">
    <caption>Education</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">Institution </th>
        <th scope="col">Profession</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let education of candidateForm.controls.educationCandidateList.controls; let i = index" [formGroupName]="i">
        <td>
          <input class="form-control" type="text" formControlName="nameInstitution">
          <validator-message [field]="education.get('nameInstitution')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="profession">
          <validator-message [field]="education.get('profession')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="dateStart" max="{education.controls.dateEnd.value}}">
          <validator-message [field]="education.get('dateStart')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="dateEnd" min="{{education.controls.dateStart.value}}">
          <validator-message [field]="education.get('dateEnd')"></validator-message>
        </td>
        <td>
          <div class="btn btn-light pull-right" (click)="remove(i, 'educationCandidateList')">
            <img class="far fa-trash-alt align-middle" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<button class="btn btn-light bg-info col-md-12" (click)="additionEducation()">
  <span class="fas fa-plus align-middle"></span>
  Add Education
</button>
