<div class="user_form">
  <div class="button_close">
      <button (click)="close()"  type="button" class="btn btn-primary">Close
          <i class="fas fa-times"></i>
      </button>
  </div>
  <form [formGroup]='userForm'>
    <h2>User: {{user.name}}</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Name">Name</label>
        <div>
          <validator-message [field]="userForm.get('name')"></validator-message>
        </div>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group col-md-6">
        <label for="surname">Surname</label>
        <div>
            <validator-message [field]="userForm.get('surname')"></validator-message>
        </div>
        <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="SurName" >
      </div>
      <div class="form-group col-md-6">
        <label for="login">Login</label>
        <div>
            <validator-message [field]="userForm.get('login')"></validator-message>
        </div>
        <input type="text" class="form-control" formControlName="login" id="login" placeholder="Login">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <div>
            <validator-message [field]="userForm.get('email')"></validator-message>
        </div>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="phoneNumber">Phone number</label>
        <div>
            <validator-message [field]="userForm.get('phoneNumber')"></validator-message>
        </div>
        <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number">
      </div>
    </div>
    <appSelectRole [roles]="user.roles" (editRoles)="getRoles($event)"></appSelectRole>
    <div *requiredAuthority="'USER_EDIT'">
        <button *ngIf='!isEdit' type="button" class="btn btn-primary" (click)="editFrom()">Edit</button>
        <button *ngIf='isEdit' type="button" class="btn btn-primary" (click)="saveForm()">Save</button>
    </div>
  </form>
</div>