<div class="mask">
  <div class="popup-form border">
    <div class="button_close">
      <span class="window-close" (click)="close()"></span>
    </div>
    <form [formGroup]='userForm'>
      <h2>User: {{user.name}}</h2>
      <div class="table-list">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Name">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            <div>
              <validator-message [field]="userForm.get('name')"></validator-message>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="SurName">
            <div>
              <validator-message [field]="userForm.get('surname')"></validator-message>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="login">Login</label>
            <input type="text" class="form-control" formControlName="login" id="login" placeholder="Login">
            <div>
              <validator-message [field]="userForm.get('login')"></validator-message>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
            <div>
              <validator-message [field]="userForm.get('email')"></validator-message>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number">
            <div>
              <validator-message [field]="userForm.get('phoneNumber')"></validator-message>
            </div>
          </div>
          <div *ngIf="newUser" class="form-group col-md-6">
            <label for="phoneNumber">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
            <div>
              <validator-message [field]="userForm.get('password')"></validator-message>
            </div>
          </div>
        </div>
        <appSelectRole [roles]="user.roleDisciplines" (editRoles)="getAssignRoles($event)"></appSelectRole>
        <app-assign-discipline *ngIf="isExistRole('DISCIPLINE_HEAD')" [assignDiscipline]="findAssignDiscipline('DISCIPLINE_HEAD')"
          (editAssignDiscipline)="getAssignDiscipline($event)"></app-assign-discipline>
        <app-assign-discipline *ngIf="isExistRole('INTERVIEWER')" [assignDiscipline]="findAssignDiscipline('INTERVIEWER')" (editAssignDiscipline)="getAssignDiscipline($event)"></app-assign-discipline>
        <br>
        <div *ngIf='isInfo'>
          <div *requiredAuthority="'USER_EDIT'">
            <button *ngIf="!user.id" type="button" class="btn btn-success" (click)="saveForm()">Save</button>
            <button *ngIf="user.id" type="button" class="btn btn-success" (click)="saveForm()">Edit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>