<tr>
    <td (click)="showUserInfo()">
        {{user.name}}</td>
    <td (click)="showUserInfo()">{{user.surname}}</td>
    <td (click)="showUserInfo()">
        <span *ngFor="let role of user.roles" [appHighLightRole]="role" class="common-for-role">
        </span>
    </td>
    <td *requiredAuthority="'USER_EDIT'">
        <div (click)="showUserInfo()" class="btn btn-light pull-left">
            <img class="fas fa-eye align-middle">
        </div>
        <div (click)="editUserInfo()" class="btn btn-light pull-left">
            <img class="fas fa-pencil-alt align-middle">
        </div>
        <div class="btn btn-light pull-left" (click)="removeUser()">
            <img class="far fa-trash-alt align-middle">
        </div>
    </td>
</tr>
