<header *ngIf='isShowNavbar' id="header" class="header-scrolled">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1>
        <a routerLink="welcome-page" class="scrollto">Interview Portal</a>
      </h1>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class=" menu -active">
          <a routerLink="users" routerLinkActive="active">Users</a>
        </li>
        <li>
          <a routerLink="discipline" routerLinkActive="active">Discipline</a>
        </li>
        <li *requiredAuthority="'CANDIDATE_LIST_READ'">
          <a routerLink="candidate" routerLinkActive="active">Candidates</a>
        </li>
        <li>
            <a routerLink="calendar" routerLinkActive="active">Calendar</a>
        </li>
        <li>
          <a>Our team</a>
        </li>
        <li>
          <a class="point" routerLink="login">Sign Out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>