/* /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}
/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #18d26e;
}
.menu-active{
  color:  #18d26e !important;
  text-decoration: underline !important;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}


/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 39;
}

.header.header-scrolled {
  background: rgba(49, 46, 46, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

.header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.header #logo h1 a, .header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

.header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .header #logo h1 {
    font-size: 28px;
  }
  .header #logo img {
    max-height: 40px;
  }
}
.point {
  border-left: 3px solid #18d26e;
}
@media (min-width: 1155px) {
#nav-menu-container {
  padding-right: 60px;
}
#burger{
  display: block;
  }
}
#burger{
display: none;
position: absolute;
top: 50%;
margin-top: -15px;
right: 20px;
width: 28px;
height: 20px;
transition: .5s ease-in-out;
cursor: pointer;
z-index: 9999;
}
#burger span{
display: block;
position: absolute;
width: 100%;
opacity: 1;
left: 0;
top: 8px;
height: 3px;
background-color: #fff;
}
#burger span:nth-child(1) {
top: 16px;
}
#burger span:nth-child(2) {
top: 24px;
}
#burger span:nth-child(3) {
top: 32px;
}
@media (min-width: 1024px) {
.header #logo {
  padding-left: 60px;
}
}
@media (max-width: 1155px) {
  /* #nav-menu-container {
    display: none;
  } */
  #nav-menu-container {
    float: inherit;
    margin: 0 auto;
  }
  .header.header-scrolled {
    text-align: center;
  }
  #burger{
    display: block;
  }
.logo{
  float: none;
  width: 100%;
}
.nav-menu {
  display: none;
}
.nav-menu > li {
  text-align: center;
  width: 31%;
}
.nav-menu > li:last-child {
  width: 98%;
}

}
@media (max-width: 768px) {
#mobile-nav-toggle {
  display: inline;
}
}
.toggle{
  display: block;
}
.toggle-header-scrolled{
  background: rgba(49, 46, 46, 0.9);
  padding: 20px 0;
  height: 172px  !important;
  transition: all 0.5s;
}