<nav *ngIf='isShowNavbar' class="navbar fixed-top navbar-expand-lg navbar-light menu col-md-12" style="background-color: #1A9CB0;"
  id="navbarNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand title" routerLink="users">Interview Portal</a>
    <ul class="navbar-nav mt-3 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="discipline" routerLinkActive="active">Discipline</a>
      </li>
      <li class="nav-item" *requiredAuthority="'CANDIDATE_LIST_READ'">
        <a class="nav-link" routerLink="candidate" routerLinkActive="active">Candidates</a>
      </li>
    </ul>
    <ul class="navbar-nav signOut">
      <li>
        <a class="nav-link logout" routerLink="login">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
