<header *ngIf='isShowNavbar' [ngClass]="{'toggle-header-scrolled': isActive}" class="header header-scrolled">
  <div class="container-fluid">
    <div id="logo" class="pull-left logo">
      <h1>
        <a routerLink="welcome-page" class="scrollto">Interview Portal</a>
      </h1>
    </div>
    <div id="burger" (click)="isActive = !isActive;">
      <span></span>
      <span></span> 
      <span></span> 
      <span></span> 
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu" [ngClass]="{'toggle': isActive}">
        <li>
          <a class="menu" routerLink="users" routerLinkActive="menu-active">Users</a>
        </li>
        <li>
          <a  class="menu" routerLink="discipline" routerLinkActive="menu-active">Discipline</a>
        </li>
        <li *requiredAuthority="'CANDIDATE_LIST_READ'">
          <a  class="menu" routerLink="candidate" routerLinkActive="menu-active">Candidates</a>
        </li>
        <li>
            <a class="menu" routerLink="calendar" routerLinkActive="menu-active">Calendar</a>
        </li>
        <li>
          <a class="menu" routerLink="interview" routerLinkActive="menu-active">Interviews</a>
        </li>
        <li>
          <a class="menu" >Our team</a>
        </li>
        <li>
          <a class="point" routerLink="login">Sign Out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>