<div class="card mb-3 user-list" *ngIf="isLoaded;else elseBlock">
  <div class="card-header">
    <app-user-search (parameters)="receiveUsersFromSearch($event)" [singleRole]="searchParameters"></app-user-search>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="80%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Role</th>
              <th width="10%" *requiredAuthority="'USER_EDIT'">
                <button class="btn btn-success mr-2" (click)="addNewUser()">Create new User</button>
              </th>
            </tr>
          </thead>
          <tbody app-user *ngFor="let user of users" [user]="user" class='tbody-hover' (searchParameter)="findByRole($event)">
          </tbody>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Role</th>
              <th width="10%" *requiredAuthority="'USER_EDIT'">
                <button class="btn btn-success mr-2" (click)="addNewUser()">Create new User</button>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="ball"></div>
</ng-template>