<br>
<table class="user-table table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>
          <span *ngFor="let role of userList.roleDisciplines">
              {{role}}
          </span>
      </td>
    </tr>
  </tbody>
</table>


