<div>
  <!-- <br>
  <div class="search-user">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
  <br> -->
  <br>
  <table class="user-table table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Role</th>
        <!-- <th scope="col">
          <div class="add-user-btn">
            <a href='addUser.html' class="btn btn-primary">Add User</a>
          </div>
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Head Discipline</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Interviewer</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Human Resource</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Head Discipline</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Interviewer</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Human Resource</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Head Discipline</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Interviewer</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Human Resource</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Head Discipline</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Interviewer</td>
        <!-- <td class="button-column">
          <div class="btn btn-light pull-left">
            <img href="#" class="far fa-trash-alt align-middle"/>
          </div>
          <div class="btn btn-light pull-left" onclick="location.href='editUser.html'">
            <img class="fas fa-pencil-alt align-middle"/>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>