<table class="discipline-table table table-hover disciplinesList" [ngStyle]="{'background-color': 'rgb('+ backgroundColor + ', '+ backgroundColor + ', ' + backgroundColor +')'}">
  <tbody>
    <tr>
      <td scope="col" class="unwrap-indicator big-icon" (click)="showSubItems();">
        <div *requiredAuthority="'SUB_ITEM_READ_' + parentDisciplineName">
          <div *ngIf="discipline.hasSubItems && !subItemsShown" class="unwrap-indicator btn btn-xl">
            <i class="fas fa-caret-right"></i>
          </div>
          <div *ngIf="discipline.hasSubItems && subItemsShown" class="unwrap-indicator btn btn-xl">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
      </td>
      <td scope="col" class="disciplineName unwrap-indicator">
        {{discipline.name}}</td>
      <td scope="col" class="unwrap-indicator">{{discipline.subscription}}</td>
      <td scope="col" class="pull-right unwrap-indicator">
        <div class="pull-right edit-buttons">
          <div *requiredAuthority="disciplineService.generateEditPermissionForDiscipline(parentDisciplineName, childLevel)" (click)="deleteDiscipline(discipline.id)"
            class="btn btn-light pull-right">
            <img class="far fa-trash-alt align-middle" />
          </div>
          <div *requiredAuthority="disciplineService.generateDeletePermissionForDiscipline(parentDisciplineName, childLevel)" [routerLink]="['', {outlets: { popup: ['discipline', 'edit', discipline.id] } }]"
            class="btn btn-light pull-right">
            <img class="fas fa-pencil-alt align-middle" />
          </div>
          <div *requiredAuthority="'SUB_ITEM_CREATE_' + parentDisciplineName" class="btn btn-light pull-right" [routerLink]="['', {outlets: { popup: ['discipline', 'create', discipline.id] } }]">
            <img class="fas fa-plus-circle align-middle" />
          </div>
          <div class="btn btn-light pull-right" [routerLink]="['', {outlets: { popup: ['discipline', 'view', discipline.id] } }]">
            <img class="fas fa-eye align-middle">
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="subItem" *requiredAuthority="'SUB_ITEM_READ_' + parentDisciplineName">
  <app-discipline *ngFor="let discipline of subDisciplinesList" [discipline]="discipline" [childLevel]="childLevel + 1" [parentDisciplineName]="parentDisciplineName"></app-discipline>
</div>
