.edit-buttons{
    width: 170px;
}

.subItem{
    padding-left:25px;
}
.disciplinesList{
    margin-bottom: 0;
}

.discipline-name {
    width: 200px;
}

table {
    color: #000000;
    margin-bottom: 0;
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(123, 255, 152, 0.089))!important;
}

tbody:hover {
    background-color: rgba(123, 255, 152, 0.089)!important;
  }