.discipline-list{
    margin: 90px 10px 10px 10px;
}
.active {
    background-color: rgb(100, 98, 98) !important;
}
table{
    margin-bottom: 0;
}

div.dataTables_filter {
    text-align: right;
  }
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  } div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }

