<div class="discipline-list" *ngIf="isLoaded;else elseBlock">
  <br>
  <div class="tree-view">
    <div class="table-header">
      <span class="header-text">Disciplines:</span>
      <br>
      <div class="my-all-filter" *requiredAuthority="'DISCIPLINES_FILTER_READ'">
        <div class="">
          <div class="btn-group">
            <button type="button" class="btn btn-sm" [ngClass]="{'active': !(activeFilter === 'MY'), 'active': (activeFilter === 'MY')}"
              (click)="activeFilter = 'MY'; disciplinesList = []; findDisciplines('MY');">My</button>
            <button type="button" class="btn btn-sm" [ngClass]="{'active': !(activeFilter === 'ALL'), 'active': (activeFilter === 'ALL')}"
              (click)="activeFilter = 'ALL'; disciplinesList = []; findDisciplines('ALL');">All</button>
          </div>
        </div>
      </div>
      <app-discipline-search (emitDisciplines)="receiveDisciplinesFromSearch($event)"></app-discipline-search>&nbsp;&nbsp;
    </div>
    <div class="tree-list">
      <tree-root class="expand-tree" [nodes]="disciplinesList" [options]="options"></tree-root>
    </div>
  </div>
  <app-discipline [discipline]="activeDiscipline"></app-discipline>
</div>
<ng-template #elseBlock>
  <div class="ball"></div>
</ng-template>
