div.dataTables_filter {
    text-align: right;
    float: left;
    width: 370px;
  }
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  } div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }

.search-pattern {
  float: right;
}

.error-message {
  margin-top: 35px;
  text-align: center;
}

.card-header {
  margin-bottom: 20px;
}

.filter-button {
  float: left;
}
