div.dataTables_filter {
    text-align: right;
    float: left;
    width: 370px;
  }
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  } div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }

.search-pattern {
  float: right;
}

.error-message {
  margin-top: 35px;
  text-align: center;
}

.card-header {
  margin-bottom: 20px;
}

.filter-button {
  float: left;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;      
	width: 20px;            
	height: 20px;           
	border: 2px solid #ccc;
	border-radius: 3px;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}
label {
  margin-right: 10px;
}
