<form [formGroup]="candidateForm">
  <h4 class="table-title">Education</h4>
  <table class="table table-bordered" formArrayName="candidateEducationList">
    <thead class="thead-light">
      <tr>
        <th scope="col">Institution </th>
        <th scope="col">Profession</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col" *ngIf="candidateForm.enabled" ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let education of candidateForm.controls.candidateEducationList.controls; let i = index" [formGroupName]="i">
        <td>
          <input class="form-control" type="text" formControlName="nameInstitution">
          <validator-message [field]="education.get('nameInstitution')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="profession">
          <validator-message [field]="education.get('profession')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="startDate" max="{education.controls.endDate.value}}">
          <validator-message [field]="education.get('startDate')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="endDate" min="{{education.controls.startDate.value}}">
          <validator-message [field]="education.get('endDate')"></validator-message>
        </td>
        <td *ngIf="candidateForm.enabled">
          <div class="btn btn-light pull-right" (click)="remove(i, 'candidateEducationList')">
            <img class="far fa-trash-alt align-middle" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<button class="btn btn-outline-secondary mr-2 col-md-12" (click)="additionEducation()" *ngIf="candidateForm.enabled" >
  <span class="fas fa-plus align-middle"></span>
  Add Education
</button>
