 
 .add-interview-btn {
    display: inline-block;
    padding-left: 10px; 
}
.add-interview-btn a{
    width: 100%;
    background: rgb(120, 187, 120);
}
.add-interview-btn a:hover{
    background: green;
}
.shadowForm {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 50px;
    max-width: 600px;
    position: relative;
    top: 270px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.shadowForm:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.editInterview {
    top: 320px;
} 

.viewInterview {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 600px;
    position: relative;
    top: 380px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.viewInterview:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.markInput {
    width: 20px;
    padding: 2px;
}

.titleArea {
    float:left;
}

