<div class="mask">
  <div class="popup-form calendar-form">
    <span class="window-close" [routerLink]="['',{ outlets: { popup: null }}]"></span>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Duration (hours)</th>
          <th>Starts at</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form class="stub-div"> </form>
            <button class="btn btn-link ng-star-inserted" type="button" (click)="specifiedTime.duration = specifiedTime.duration + 1">
              <span class="chevron"></span>
            </button>
            <input aria-label="Hours" class="form-control" maxlength="2" placeholder="HH" size="2" type="text" [(ngModel)]="specifiedTime.duration">
            <button class="btn btn-link ng-star-inserted" type="button" (click)="specifiedTime.duration = specifiedTime.duration - 1">
              <span class="chevron bottom"></span>
            </button>
          </td>
          <td>
            <mwl-demo-utils-date-time-picker [(ngModel)]="specifiedTime.startTime" (ngModelChange)="refresh.next()" [showTime]="true"
              placeholder="Not set">
            </mwl-demo-utils-date-time-picker>
          </td>
        </tr>
      </tbody>

    </table>
    <div class="custom-control custom-checkbox is-repeatable">
      <input type="checkbox" class="custom-control-input" id="customCheck1" [checked]="specifiedTime.isRepeatable" (change)="specifiedTime.isRepeatable = !specifiedTime.isRepeatable; specifiedTime.repeatPattern = null">
      <label class="custom-control-label" for="customCheck1">Repeatable</label>
    </div>

    <div>
      <table class="table" *ngIf="specifiedTime.isRepeatable">
        <tr>
          <th>Repeat pattern</th>
          <th *ngIf="specifiedTime.isRepeatable">Ends at</th>
        </tr>
        <tr>
          <form class="pull-left">
            <input type="radio" value="weekly" name="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern" checked> Weekly
            <input type="radio" value="monthly" name="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern"> Monthly
            <input type="radio" value="yearly" name="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern"> Yearly
          </form>
          <div *ngIf="specifiedTime.repeatPattern === 'yearly'">
            Repeat every
            <input class="form-control input-sm" maxlength="2" size="2" type="text" [(ngModel)]="specifiedTime.repeatPeriod.years"> year(s).
          </div>
          <div *ngIf="specifiedTime.repeatPattern === 'monthly'">
            Repeat every
            <input class="form-control" maxlength="2" size="2" type="text" [(ngModel)]="specifiedTime.repeatPeriod.months"> month(s).
          </div>
          <div *ngIf="specifiedTime.repeatPattern === 'weekly'">
            Repeat every
            <input class="form-control" maxlength="2" size="2" type="text" [(ngModel)]="specifiedTime.repeatPeriod.weeks"> week(s).
          </div>

          <td>
            <div *ngIf="specifiedTime.isRepeatable">
              <mwl-demo-utils-date-time-picker [(ngModel)]="specifiedTime.endTime" (ngModelChange)="refresh.next()" (showTime)="false"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center" *ngIf="!noEdit">
      <a (click)="sendSpecifiedTime()" class="btn btn-primary">Save</a>
    </div>
  </div>
</div>