.calendar-form {
    padding-bottom: 20px;
}

.stub-div {
    height: 38px;
}

.is-repeatable {
    width: 100px;
    margin: auto;
}

.sr-only{
    border:0;
    clip:rect(0,0,0,0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

.chevron::before{
    border-style:solid;
    border-width:0.29em 0.29em 0 0;
    content:'';
    display:inline-block;
    height:0.69em;
    left:0.05em;
    position:relative;
    top:0.15em;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    vertical-align:middle;
    width:0.71em;
}
.chevron.bottom:before{
    top:-.3em;
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg);
}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input{
    text-align:center;
    display:inline-block;
    width:auto;
}

table {
    padding: 10px;
}

.repeat-pattern {
    border: 20px;
    margin: 10px;
}

.repeat-number {
    width: 45px;
    display: inline-block;
    margin-top: 10px;
}

.repeat-numbers {
    float: left;
}

.patterns-list {
    margin-top: 10px;
}

.duration-column {
    width: 130px;
}

table {
    background: white !important;
}

.mask {
    overflow-y: hidden;
}
