<div class="mask">
  <form [formGroup]="specifiedTimeForm">
    <div class="popup-form calendar-form">
      <span class="window-close" [routerLink]="['',{ outlets: { popup: null }}]"></span>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Duration (hours)</th>
            <th>Starts at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="stub-div"> </div>
              <button class="btn btn-link ng-star-inserted" type="button" (click)="specifiedTime.duration = specifiedTime.duration + 1">
                <span class="chevron"></span>
              </button>

              <input aria-label="Hours" class="form-control" maxlength="2" placeholder="HH" size="2" type="text" [(ngModel)]="specifiedTime.duration"
                formControlName="duration">
              <button class="btn btn-link ng-star-inserted" type="button" (click)="specifiedTime.duration = specifiedTime.duration - 1">
                <span class="chevron bottom"></span>
              </button>
              <validator-message [field]="specifiedTimeForm.controls.duration"></validator-message>
            </td>
            <td>
              <mwl-demo-utils-date-time-picker [(ngModel)]="specifiedTime.startTime" (ngModelChange)="refresh.next()" [showTime]="true"
                formControlName="startTime" placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
              <validator-message [field]="specifiedTimeForm.controls.startTime"></validator-message>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="custom-control custom-checkbox is-repeatable">
        <input type="checkbox" class="custom-control-input" id="customCheck1" [checked]="specifiedTime.isRepeatable" formControlName="isRepeatable"
          (change)="specifiedTime.isRepeatable = !specifiedTime.isRepeatable; specifiedTime.repeatPattern = null">
        <label class="custom-control-label" for="customCheck1">Repeatable</label>
      </div>
      <table class="table" *ngIf="specifiedTime.isRepeatable">
        <div class="repeat-pattern">
          <tr>
            <th>Repeat pattern</th>
            <th *ngIf="specifiedTime.isRepeatable">Ends at</th>
          </tr>
          <tr>
            <div class="custom-controls-stacked patterns-list">
              <label class="custom-control custom-radio">
                <input id="radioStacked1" value="weekly" name="repeatPattern" formControlName="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern"
                  type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Weekly</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="radioStacked2" value="monthly" name="repeatPattern" formControlName="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern"
                  type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Monthly</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="radioStacked3" value="yearly" name="repeatPattern" formControlName="repeatPattern" [(ngModel)]="specifiedTime.repeatPattern"
                  type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yearly</span>
              </label>
            </div>
            <validator-message [field]="specifiedTimeForm.controls.repeatPattern"></validator-message>
            <td>

              <div *ngIf="specifiedTime.isRepeatable">
                <mwl-demo-utils-date-time-picker [(ngModel)]="specifiedTime.endTime" (ngModelChange)="refresh.next()" (showTime)="false"
                  formControlName="endTime" placeholder="Not set" (click)="specifiedTimeForm.controls.endTime.markAsTouched()">
                </mwl-demo-utils-date-time-picker>
                <validator-message [field]="specifiedTimeForm.controls.endTime"></validator-message>
              </div>
              <div *ngIf="specifiedTime.repeatPattern">
                <div class="repeat-numbers">
                  Repeat every
                  <input class="form-control input-sm repeat-number" maxlength="2" size="2" type="text" [(ngModel)]="specifiedTime.repeatPeriod"
                    formControlName="repeatPeriod">
                  <span *ngIf="specifiedTime.repeatPattern === 'yearly'"> year(s). </span>
                  <span *ngIf="specifiedTime.repeatPattern === 'monthly'"> month(s). </span>
                  <span *ngIf="specifiedTime.repeatPattern === 'weekly'"> week(s). </span>
                </div>
              </div>
              <br>
              <br>
              <validator-message [field]="specifiedTimeForm.controls.repeatPeriod"></validator-message>
            </td>
          </tr>
        </div>
      </table>
      <div class="text-center" *ngIf="!noEdit">
        <a (click)="sendSpecifiedTime()" class="btn btn-success">Save</a>
        <a class="btn btn-secondary" [routerLink]="['',{ outlets: { popup: null }}]">Close</a>
      </div>
    </div>
  </form>
</div>
