<br>
<table class="user-table table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Title</th>
      <th scope="col" class="description">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Java</td>
      <td>
        It is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically
        designed to have as few implementation dependencies as possible.
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>C++</td>
      <td>General-purpose programming language. It has imperative, object-oriented and generic programming features, while also
        providing facilities for low-level memory manipulation.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>JavaScript</td>
      <td>
        This is a high-level, dynamic, weakly typed, prototype-based, multi-paradigm, and interpreted programming language.
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Ruby</td>
      <td>
        Ruby is a dynamic, reflective, object-oriented, general-purpose programming language. It was designed and developed in the
        mid-1990s by Yukihiro "Matz" Matsumoto in Japan.
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>C</td>
      <td>
        General-purpose, imperative computer programming language, supporting structured programming, lexical variable scope and
        recursion, while a static type system prevents many unintended operations.
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>PHP</td>
      <td>
        Server-side scripting language designed for web development but also used as a general-purpose programming language. Originally
        created by Rasmus Lerdorf in 1994, the PHP reference implementation is now produced by The PHP Group.
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>
        <u>Kotlin</u>
      </td>
      <td>
        Statically-typed programming language that runs on the Java virtual machine and also can be compiled to JavaScript source
        code or use the LLVM compiler infrastructure.
      </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>
        <u>ObjectC</u>
      </td>
      <td>
        It is a general-purpose, object-oriented programming language that adds Smalltalk-style messaging to the C programming language.
      </td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>
        <u>TypeScript</u>
      </td>
      <td>
        Free and open-source programming language developed and maintained by Microsoft. It is a strict syntactical superset of JavaScript,
        and adds optional static typing to the language.
      </td>
    </tr>
  </tbody>
</table>
