<br>
<table class="user-table table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Title</th>
      <th scope="col" class="description">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Java</td>
      <td>
        It is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically
        designed to have as few implementation dependencies as possible.
      </td>
    </tr>
  </tbody>
</table>
