<tr>
  <th class="first-th"></th>
  <th>
    <i class="ion-android-person"></i>
    Candidate
  </th>
  <th>
    <i class="ion-clock"></i>
    Time
  </th>
  <th>
    <i class="ion-android-people"></i>
    Interviewers
  </th>
  <th>
    <i class="ion-social-buffer h4"></i>
    Discipline
  </th>
  <th>
    <i class="ion-location"></i>
    Place
  </th>
  <th class="create-button">
    <button class="btn btn-success mr-2" [routerLink]="['', {outlets: { popup: ['interview-create'] }}]">create interview</button>
  </th>
</tr>
