<div class="mask">
  <div class='border popup-form'>
    <form [formGroup]="interviewForm">
      <h4>{{formTitle}}</h4>
      <app-interview-candidate [interviewForm]="interviewForm" (change)="interviewFormService.showDiscipline()" (disciplines)="fetchDisciplines($event)" (click)="interviewFormService.refreshData()"></app-interview-candidate>
      <span class="bold">Place: </span>
      <input class="form-control" type="text" placeholder="B215 Room" formControlName="place">
      <app-time-interval [(ngModel)]="interval" (ngModelChange)="refresh.next()" [ngModelOptions]="{standalone: true}" (click)="interviewFormService.refreshData()"></app-time-interval>
      <app-interview-discipline *ngIf="isDisciplineDisplay" [interviewForm]="interviewForm" [disciplines]="disciplines" (change)="interviewFormService.showInterviewers()" (click)="interviewFormService.refreshData()"></app-interview-discipline>
      <app-interviewers *ngIf="isInterviewersDisplay" [interviewForm]="interviewForm" [interviewerList]="interviewerList"></app-interviewers>
      <br>
      <a class="btn btn-success" (click)="interviewFormService.saveInterview()">Save</a>
    </form>
    <span class="window-close" [routerLink]="['', {outlets: { popup: null }}]"></span>
  </div>
</div>