<form [formGroup]="candidateForm">
  <table class="table table-bordered" formArrayName="workCandidateList">
    <caption>Work history</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">Company name</th>
        <th scope="col">Position</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let work of candidateForm.controls.workCandidateList.controls; let i = index" [formGroupName]="i">
        <td>
          <input class="form-control" type="text" formControlName="nameCompany">
          <validator-message [field]="work.get('nameCompany')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="position">
          <validator-message [field]="work.get('position')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="dateStart" max="{{work.controls.dateEnd.value}}">
          <validator-message [field]="work.get('dateStart')"></validator-message>
        </td>
        <td>
          <input class="form-control" type="date" formControlName="dateEnd" min="{{work.controls.dateStart.value}}">
          <validator-message [field]="work.get('dateEnd')"></validator-message>
        </td>
        <td>
          <div class="btn btn-light pull-right" (click)="remove(i, 'workCandidateList')">
            <img class="far fa-trash-alt align-middle" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-light bg-info col-md-12" (click)="additionWork()">
    <span class="fas fa-plus align-middle"></span>
    Add Education
  </button>
</form>
