<!-- <tr> -->
  <td scope="col">{{discipline.name}}</td>
  <td scope="col" class="description">{{discipline.subscription}}</td>
  <!-- <tr>
      <tr>
          <td>Java</td>
          <td>
            It is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically
            designed to have as few implementation dependencies as possible.
          </td>
  </tr> -->
  <!-- <br>
      <tr>
        <td>Java</td>
        <td>
          It is a general-purpose computer-programming language that is concurrent, class-based, object-oriented, and specifically
          designed to have as few implementation dependencies as possible.
        </td>
      </tr> -->
<!-- </tr> -->