select.ng-touched.ng-invalid{
    border-color: rgb(255, 113, 113);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.error-message {
    color: brown;
    padding: 10px;
    font-size:14px;
}

select {
    float: left;
    width: 92%;
}
