<div class='border candidate-form' *ngIf="!displayMessage">
    <form [formGroup]="candidateForm">
        <div>
            <h1>Add Candidate</h1>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="Name">Name </label>
                    <input name="name" type="text" class="form-control" id="Name" placeholder="Name" formControlName="name" required>
                    <validator-message [field]="name"></validator-message>
                </div>
                <div class="form-group col-md-4">
                    <label for="SurName">SurName
                    </label>
                    <input type="text" class="form-control" id="SurName" placeholder="SurName" formControlName="surname">
                    <validator-message [field]="surname"></validator-message>
                </div>
                <div class="form-group col-md-4">
                    <label for="Phone">Phone </label>
                    <input type="text" class="form-control" id="Phone" placeholder="Phone" formControlName="phoneNumber">
                    <validator-message [field]="phone"></validator-message>
                </div>
            </div>
        </div>
        <app-education-table [candidateForm]="candidateForm"></app-education-table>
        <app-work-table [candidateForm]="candidateForm"></app-work-table>
        <app-discipline-list [candidateForm]="candidateForm"></app-discipline-list>
        <div class="text-center add-candidates">
            <a class="btn btn-primary" (click)="createCandidate()">Add Candidate</a>
            <a class="btn btn-secondary" (click)="change()">Close</a>
            <br>
            <br>
            <span *ngIf="displayErrorMessage" class="error-message">Fill in all the fields</span>
        </div>
    </form>
</div>
<app-message-window *ngIf="displayMessage" [message]="viewMessage" (displayWindowMessage)="change()"></app-message-window>