<td>{{candidate.name}}</td>
<td>{{candidate.surname}}</td>
<td>
    <span *ngFor="let discipline of candidate.disciplineList" [routerLink]="['', {outlets: { popup: ['discipline', 'view', discipline.id] } }]">
        <u>{{discipline.name}}</u>&nbsp;
    </span>
</td>
<td class="td-btn">
    <div class="btn btn-light pull-left" [routerLink]="['', {outlets: { popup: ['candidate-view', candidate.id] } }]">
        <img class="fas fa-eye align-middle" >
    </div>
    <div class="btn btn-light pull-left" [routerLink]="['', {outlets: { popup: ['candidate-update', candidate.id] } }]">
        <img class="fas fa-pencil-alt align-middle">
    </div>
    <div class="btn btn-light pull-left" (click)="removeCandidate(candidate.id)">
        <img  class="far fa-trash-alt align-middle">
    </div>
</td>
